<div class="upload_form_container">
  <h3 class="heading">Enter Event Details</h3>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label class="label">Choose an Event</mat-label>
      <mat-select [(ngModel)]="selectedEvent" name="event">
        <mat-option *ngFor="let event of eventsArray" [value]="event.value">
          {{ event.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="label">Event Theme:</mat-label>
      <input
        matInput
        placeholder="Ex. Doremon"
        [(ngModel)]="selectedTheme"
        name="theme"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="label">Event Price:</mat-label>
      <input
        matInput
        placeholder="Ex. 1200"
        [(ngModel)]="selectedPrice"
        name="price"
      />
    </mat-form-field>
    <div class="image_selection_div">
      <label for="eventImages" class="label">Event Images:</label>
      <input
        class="image_sel"
        id="eventImages"
        type="file"
        (change)="onFilesSelected($event)"
        multiple
      />
    </div>
    <button type="submit" (touchstart)="onSubmitTouch($event)" class="btn">
      Submit
    </button>
  </form>
</div>
