<div class="upload_form_container">
  <div class="upload_div" *ngIf="uploading">
    <img src="../../assets/Upload.gif" class="upload_gif" />
    <p>Please wait, your event is getting uploaded</p>
  </div>
  <!---->
  <app-success-tab
    *ngIf="response && response.status === 'Success'"
    [message]="response.message"
    (close)="closeTab()"
  ></app-success-tab>
  <h3 class="heading">Enter Event Details</h3>
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label class="label">Choose an Event</mat-label>
      <mat-select [(ngModel)]="selectedEvent" name="event" required>
        <mat-option *ngFor="let event of eventsArray" [value]="event.value">
          {{ event.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="label">Event Theme:</mat-label>
      <input
        matInput
        placeholder="Ex. Doremon"
        [(ngModel)]="selectedTheme"
        name="theme"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="label">Items:</mat-label>
      <input
        matInput
        placeholder="Baloons, flowers "
        [(ngModel)]="selectedItems"
        name="items"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="label">Event Price:</mat-label>
      <input
        matInput
        placeholder="Ex. 1200"
        [(ngModel)]="selectedPrice"
        name="price"
        required
      />
    </mat-form-field>

    <div class="image_selection_div">
      <label for="eventImages" class="label">Event Images:</label>
      <input
        class="image_sel"
        id="eventImages"
        type="file"
        (change)="onFilesSelected($event)"
        multiple
        required
      />
    </div>

    <button type="submit" [disabled]="myForm.invalid" class="btn">
      Submit
    </button>
  </form>
</div>
