<div class="how_container">
  <h3 class="heading">How to Book?</h3>
  <div class="steps_container">
    <p class="step">
      Browse the Event you need and check out the themes in that event and
      choose your liked one.
    </p>
    <img class="illustration" src="../../../assets/ill1.svg" />

    <img class="arrow" src="../../../assets/down-arrow.svg" />
    <p class="step">Click on the WhatsAPP icon button to send message.</p>
    <img class="illustration" src="../../../assets/ill2.svg" />

    <img class="arrow" src="../../../assets/down-arrow.svg" />
    <p class="step">
      You will get message or call from our team in next 24 hours, if its urgent
      feel free to call us.
    </p>
    <img class="illustration" src="../../../assets/ill3.svg" />

    <img class="arrow" src="../../../assets/down-arrow.svg" />
    <p class="step">
      Pay minimal advance amount and book the date and from the day of booking
      to event date our team will be in contact with you and get all the details
      and organize everything on time.
    </p>
    <img class="illustration" src="../../../assets/ill4.svg" />
  </div>
</div>
